<!DOCTYPE html>
<html><head>
    <title>Detalles</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- <link href="../includes/boostrap3/css/bootstrap.css" type="text/css" rel="stylesheet">-->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <style>
      html, body {
        height: 85%;
        margin: 0;
        padding: 0;
      }

    </style>

    </head>

<body background="/imgs/fondoCorona.jpg">
  <div class="col-xs-12">
   <center><img src="/imgs/corona.png" style="width: 20px"><img></center>
   </div>
    <div class="col-xs-12" style="background-color:#000; height:20px"></div>
    <div class="page-header">
  <center><h1>Detalle de obra a cotizar</h1></center>
</div>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Actividad</th>
        <th>Unidad de medida</th>
        <th>Cantidad</th>
        <th>Valor unitario</th>
        <th>Valor total</th>
        <th>Precio final metros cuadrados</th>
      </tr>

    </thead>
    <tbody>
      <tr>
      <th scope="row"><label><input type="checkbox" value="">Desmonte de marco y puerta en madera</label></th>
      <td><input type="text" value=""></td>
      <td><input type="text" value=""></td>
      <td><input type="text" value=""></td>
      <td><input type="text" value=""></td>
      <td><input type="text" value=""></td>
    </tr>
    <tr>
      <th scope="row"><label><input type="checkbox" value="">Demoliciones</label></th>
      <td><input type="text" value=""></td>
      <td><input type="text" value=""></td>
      <td><input type="text" value=""></td>
      <td><input type="text" value=""></td>
      <td><input type="text" value=""></td>
    </tr>
    <tr>
      <th scope="row"><label><input type="checkbox" value="">Desmonte aparato sanitario</label></th>
      <td><input type="text" value=""></td>
      <td><input type="text" value=""></td>
      <td><input type="text" value=""></td>
      <td><input type="text" value=""></td>
      <td><input type="text" value=""></td>
    </tr>

    <tr>
      <th scope="row"><label><input type="checkbox" value="">Desmonte griferias</label></th>
      <td><input type="text" value=""></td>
      <td><input type="text" value=""></td>
      <td><input type="text" value=""></td>
      <td><input type="text" value=""></td>
      <td><input type="text" value=""></td>
    </tr>
    <tr>
      <th scope="row"><label><input type="checkbox" value="">Desmonte de accesorios</label></th>
      <td><input type="text" value=""></td>
      <td><input type="text" value=""></td>
      <td><input type="text" value=""></td>
      <td><input type="text" value=""></td>
      <td><input type="text" value=""></td>
    </tr>

      <tr>
      <th scope="row"><label><input type="checkbox" value="">Demolicion de enchapes</label></th>
      <td><input type="text" value=""></td>
      <td><input type="text" value=""></td>
      <td><input type="text" value=""></td>
      <td><input type="text" value=""></td>
      <td><input type="text" value=""></td>
    </tr>

    <tr>
      <th scope="row"><label><input type="checkbox" value="">Demolicion poyo</label></th>
      <td><input type="text" value=""></td>
      <td><input type="text" value=""></td>
      <td><input type="text" value=""></td>
      <td><input type="text" value=""></td>
      <td><input type="text" value=""></td>
    </tr>
    <tr>
      <th scope="row"><label><input type="checkbox" value="">Demolicion mortero</label></th>
      <td><input type="text" value=""></td>
      <td><input type="text" value=""></td>
      <td><input type="text" value=""></td>
      <td><input type="text" value=""></td>
      <td><input type="text" value=""></td>
    </tr>

      <tr>
      <th scope="row"><label><input type="checkbox" value="">Regatas y Resane</label></th>
      <td><input type="text" value=""></td>
      <td><input type="text" value=""></td>
      <td><input type="text" value=""></td>
      <td><input type="text" value=""></td>
      <td><input type="text" value=""></td>
    </tr>
    <tr>
      <th scope="row"><label><input type="checkbox" value="">Construccion poyo ducha</label></th>
      <td><input type="text" value=""></td>
      <td><input type="text" value=""></td>
      <td><input type="text" value=""></td>
      <td><input type="text" value=""></td>
      <td><input type="text" value=""></td>
    </tr>

    </tbody>
  </table>
  </div>

  <!--<script src="../includes/jquery-2.1.0.min.js"></script>-->
    <!--<script type="text/javascript" src="../includes/jquery-ui-1.10.4/js/jquery-ui-1.10.4.custom.js"></script>-->



<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
