<!DOCTYPE html>
<html><head>
    <title>Seguimiento cotizacion</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <!-- <link href="../includes/boostrap3/css/bootstrap.css" type="text/css" rel="stylesheet">-->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <style>
      html, body {
        height: 85%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }

    </style>

    </head>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <body background="/imgs/fondoCorona.jpg">
   <div class="col-xs-12">
   <center><img src="/imgs/corona.jpg"><img></center>
   <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">CORONA</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="SeguimientoCotizacion">Ingresar Cotizacion</a></li>
      <li><a href="#">Revisar Cotizacion</a></li>
      <li><a href="#">Contactanos</a></li>
    </ul>
  </div>
</nav>
 </div>
      </body>
    </html>
