<!DOCTYPE html>
<html>

<head>
  <title>Seguimiento cotizacion</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="/css/menu.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body background="/imgs/fondoCorona.jpg">
  <div class="col-xs-12">
    <center><img src="/imgs/corona.png"><img></center>
  </div>
  <div class="col-xs-12">
    <div class="container">
      <div class="col-sm-2">
        <nav class="nav-sidebar">
          <ul class="nav tabs">
            <li class="active"><a href="#tab1" data-toggle="tab"><h5>cotización presupuesto de obra <span class="badge badge-default"></span></h5></a></li>
            <li class=""><a href="#tab3" data-toggle="tab"><h5>Evaluacion de presupuesto<span class="badge badge-default"></span></h5></a></li>
            <li class=""><a href="#tab4" data-toggle="tab"><h5>Buscar productos<span class="badge badge-default"></span></h5></a></li>

          </ul>
        </nav>
        <div>
          <img src="/imgs/lateral.jpg"><img>
        </div>
      </div>
      <!-- tab content -->
      <div class="tab-content" class="col-xs-3">
        <div class="tab-pane active text-style" id="tab1">
          <h2>Cotización presupuesto de obra</h2>
          <a id="btn-login " href="SeguimientoCotizacion" class="btn btn-success btn-lg">Ir Seguimiento Cotización  </a>
          <hr>
        </div>
        <div class="tab-pane text-style" id="tab3">
          <h2>Cotizacion aproximada</h2>
          <p>En esta sesion podras seleccionar productos que se acomoden a tu presupuesto y podras filtrar dependiendo la categoria que desees!!!</p>
          <hr>
          <form method="post" action="/calcular">
            <div class="col-xs-2">
              <label for="Nombre">Presupuesto</label>
              <input type="text" name="presupuesto" class="form-control" id="presupuesto" aria-describedby="presupuesto" placeholder="Ingrese presupuesto">
            </div>
            <div class="col-xs-2">
              <label for="Nombre">Categoria</label>
              <select name="categoria" class="form-control" id="categoria">
                   <option value="Pinturas">Pinturas</option>
                   <option value="Cocinas">Cocinas</option>
                   <option value="Baños">Baños</option>
                   <option value="Pisos">Pisos</option>
             </select>
            </div>
            <div class="col-xs-2">
              <label for="Nombre">M2</label>
              <input type="text" name="m2" class="form-control" id="m2" aria-describedby="presupuesto" placeholder="Ingrese m2">
            </div>
            <div class="col-xs-2 ">
              <button type="submit" class="btn btn-primary">Calcular</button>
            </div>
          </form>
        </div>

        <div class="tab-pane text-style" id="tab4">
          <h2>Busqueda de Producto</h2>
          <p>En esta sección podras buscar productos que estas buscando y te saldran las opciones disponibles!!!</p>
          <hr>
          <form method="post" action="/buscar">
            <div class="col-xs-6">
              <label for="Nombre">Producto a buscar</label>
              <input type="text" name="producto" class="form-control" id="producto" aria-describedby="producto" placeholder="Ingrese producto">
            </div>
            <div class="col-xs-2 ">

            <button type="submit" class="btn btn-primary ">buscar</button>
          </div>
          </form>
         </div>

      </div>
    </div>
  </div>
</body>

</html>
