<!DOCTYPE html>
<html><head>
    <title>Seguimiento cotizacion</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <!-- <link href="../includes/boostrap3/css/bootstrap.css" type="text/css" rel="stylesheet">-->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


    <style>
      html, body {
        height: 85%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }

    </style>

    </head>

    <body background="/imgs/fondoCorona.jpg">
   <div class="col-xs-12">
   <center><img src="/imgs/corona.png"><img></center>

   <form method="post" action="/menu">
     <div class="form-group">
       <label for="Nombre">Nombre</label>
       <input type="text" name="title" class="form-control" id="nombre" aria-describedby="nombre" placeholder="Ingrese Nombre">
     </div>
     <div class="form-group">
       <label for="Descripcion">Descripcion</label>
       <input type="textarea" name="description" class="form-control" id="descripcion" aria-describedby="descripcion" placeholder="Ingrese Descripcion">
     </div>
     <div class="form-group">
       <label for="Cantidad">Cantidad</label>
       <input type="number" name="pricing" class="form-control" id="cantidad" aria-describedby="cantidad" placeholder="Ingrese Cantidad">
     </div>
     <button type="submit" class="btn btn-primary">Agregar</button>
   </form>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


   <!-- Latest compiled JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

     </body>
   </html>
